.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}

.col-top {
  vertical-align: top;
}

.checkbox {
  margin-left: 50px;
}

.row-top {
  margin-top: -15px;
}

.companyCell {
  background-color: red;
}

img {
  width: 70px;
  height: auto;
}

.company-logo{ 
  margin-top: 5px;
  margin-left: 25px;
}